<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robotiq_gripper">
  <xacro:macro name="robotiq_gripper" params="
        name
        prefix
        parent
        *origin
        sim_gazebo:=false
        sim_isaac:=false
        isaac_joint_commands:=/isaac_joint_commands
        isaac_joint_states:=/isaac_joint_states
        use_fake_hardware:=false
        mock_sensor_commands:=false
        include_ros2_control:=true
        com_port:=/dev/ttyUSB0">

        <!-- ros2 control include -->
        <xacro:include filename="$(find robotiq_description)/urdf/2f_140.ros2_control.xacro" />
        <!-- if we are simulating or directly communicating with the gripper we need a ros2 control instance -->
        <xacro:if value="${include_ros2_control}">
            <xacro:robotiq_gripper_ros2_control
                name="${name}" prefix="${prefix}"
                sim_gazebo="${sim_gazebo}"
                sim_isaac="${sim_isaac}"
                isaac_joint_commands="${isaac_joint_commands}"
                isaac_joint_states="${isaac_joint_states}"
                use_fake_hardware="${use_fake_hardware}"
                mock_sensor_commands="${mock_sensor_commands}"
                com_port="${com_port}"/>
        </xacro:if>

        <!-- this is a temporary link to rotate the 2f-140 gripper to match the 2f-85 -->
        <link name="${prefix}robotiq_base_link"/>
        <joint name="${prefix}robotiq_base_joint" type="fixed">
          <parent link="${parent}" />
          <child link="${prefix}robotiq_base_link" />
          <origin xyz="0 0 0" rpy="0 0 ${pi/2}" />
        </joint>

        <link name="${prefix}robotiq_140_base_link">
        <inertial>
          <origin xyz="8.625E-08 -4.6583E-06 0.03145" rpy="0 0 0" />
          <mass value="0.22652" />
          <inertia ixx="0.00020005" ixy="-4.2442E-10" ixz="-2.9069E-10" iyy="0.00017832" iyz="-3.4402E-08" izz="0.00013478" />
        </inertial>
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="file://$(find robotiq_description)/meshes/visual/2f_140/robotiq_2f_140_base_link.stl" />
          </geometry>
          <material name="">
            <color rgba="0.1 0.1 0.1 1" />
          </material>
        </visual>
        <collision>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="file://$(find robotiq_description)/meshes/collision/2f_140/robotiq_2f_140_base_link.stl" />
          </geometry>
        </collision>
      </link>
      <joint name="${prefix}robotiq_140_base_joint" type="fixed">
          <parent link="${prefix}robotiq_base_link" />
          <child link="${prefix}robotiq_140_base_link" />
          <xacro:insert_block name="origin" />
      </joint>

      <!-- Include the finger xacros and run them -->
      <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_140.xacro" />
      <xacro:finger_links prefix="${prefix}" fingerprefix="left" stroke="140"/>
      <xacro:finger_links prefix="${prefix}" fingerprefix="right" stroke="140"/>
      <xacro:finger_joint prefix="${prefix}"/>
      <xacro:right_outer_knuckle_joint prefix="${prefix}"/>

       <yang>
            <!-- Radiodot network topology -->
            <network>
                <network-id>${L2_network_id}</network-id>
                <supporting-network>
                    <network-ref>${L1_network_id}</network-ref>
                </supporting-network>
                <node>
                <node-id>${L2_id}</node-id>
                <supporting-node>
                    <network-ref>${L1_network_id}</network-ref>
                    <node-ref>${L1_id}</node-ref>
                </supporting-node>
                <dl:device-layer-node-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                    <dl:device-name>radiodot</dl:device-name>
                    <dl:device-type>generic</dl:device-type>
                </dl:device-layer-node-attributes>
                <nt:termination-point xmlns:nt="urn:ietf:params:xml:ns:yang:ietf-network-topology">
                    <nt:tp-id>_0</nt:tp-id>
                    <nt:supporting-termination-point>
                        <nt:network-ref>${L2_id}</nt:network-ref>
                        <nt:node-ref>${L1_id}</nt:node-ref>
                        <nt:tp-ref>eth_0</nt:tp-ref>
                    </nt:supporting-termination-point>
                    <dl:device-layer-termination-point-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                        <dl:port-name>port1</dl:port-name>
                        <dl:port-type>rj45</dl:port-type>
                    </dl:device-layer-termination-point-attributes>
                    <nl:network-layer-termination-point-attributes xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer">
                        <nl:interface-name>intf1</nl:interface-name>
                        <nl:interface-type>ethernet</nl:interface-type>
                        <nl:interface-status>up</nl:interface-status>
                        <nl:mac-address>00:1A:2B:3C:4D:5E</nl:mac-address>
                    </nl:network-layer-termination-point-attributes>
                </nt:termination-point>
                <nl:network-layer-node-attributes xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer">
                    <nl:node-name>netNode1</nl:node-name>
                    <nl:node-type>generic</nl:node-type>
                </nl:network-layer-node-attributes>
                </node>
                <dl:device-layer-topology xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                    <dl:element>element2</dl:element>
                </dl:device-layer-topology>
                <nt:link xmlns:nt="urn:ietf:params:xml:ns:yang:ietf-network-topology">
                    <nt:link-id>link1</nt:link-id>
                    <nt:source>
                        <nt:source-node>node1</nt:source-node>
                        <nt:source-tp>tp1</nt:source-tp>
                    </nt:source>
                    <nt:destination>
                        <nt:dest-node>node2</nt:dest-node>
                        <nt:dest-tp>tp2</nt:dest-tp>
                    </nt:destination>
                    <nt:supporting-link>
                        <nt:network-ref>network2</nt:network-ref>
                        <nt:link-ref>link2</nt:link-ref>
                    </nt:supporting-link>
                    <dl:device-layer-link-attributes xmlns:dl="urn:ietf:params:xml:ns:yang:device-layer">
                        <dl:physical-link-name>physLink1</dl:physical-link-name>
                        <dl:physical-link-type>cat5e</dl:physical-link-type>
                    </dl:device-layer-link-attributes>
                    <nl:network-layer-link-attributes xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer">
                        <nl:link-name>netLink1</nl:link-name>
                        <nl:link-type>3gpp-5g-qos-flow</nl:link-type>
                        <nl:_5qi>1</nl:_5qi>
                        <nl:gfbr>50</nl:gfbr>
                        <nl:mfbr>100</nl:mfbr>
                        <nl:pdb>20</nl:pdb>
                        <nl:per>0</nl:per>
                    </nl:network-layer-link-attributes>
                </nt:link>
                <nl:network-layer-topology xmlns:nl="urn:ietf:params:xml:ns:yang:network-layer">
                    <nl:element>element3</nl:element>
                </nl:network-layer-topology>
            </network>
        </yang>
    </xacro:macro>
</robot>
